.button {
    margin-bottom: 10px;
}

@media (min-width: 1350px) {
    .main-cont {
        margin: 0 150px;
    }
}

@media (max-width: 770px) {
    .event-form {
        margin: 30px;
        padding: 30px;
    }
}